<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Test</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="{% static 'people/example.js' %}"></script>
</head>
<body>
<div id="people-div"></div>
<script>
    const e = React.createElement;

    const people = [
        {% for p in people %}
            {id: {{ p.id }}, first_name: '{{ p.first_name }}', last_name: '{{ p.last_name }}'},
        {% endfor %}
    ]

    const domContainer = document.querySelector('#people-div');
    ReactDOM.render(e(People, {people}), domContainer);

</script>
</body>
</html>